:root {
  --COLOR-ADD-CART-Dark: #f4cf13;
  --COLOR-SHADOW-LIGHT: rgba(149, 157, 165, 0.2);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/** Aside **/

aside {
  height: 100vh;
  overflow-y: auto;
}

/** Container **/

.container {
  margin: auto;
  max-width: 140rem;
}

/** Header **/

header {
  box-shadow: 0 0.1rem 0.4rem var(--COLOR-SLATE-500);
  position: relative;
}

.img-brand-logo {
  max-height: 5rem;
  max-width: 5rem;
}

.mart-text::before {
  content: "";
  display: inline-block;
  height: 0.1rem;
  width: 2.5rem;
  margin-right: 0.2rem;
  vertical-align: middle;
  background: var(--COLOR-RED-500);
}

/** Link **/

.link {
  color: var(--COLOR-STONE);
  font-weight: bold;
  position: relative;
}

.link::after {
  background: var(--COLOR-RED-500);
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  transition: width 0.3s, left 0.3s;
  width: 0;
}

.link:hover::after {
  left: 0;
  width: 100%;
}

/** Utilities **/

.bg-add-cart-dark {
  background: var(--COLOR-ADD-CART-Dark);
}

.bg-slate-300-hover:hover {
  background: var(--COLOR-SLATE-300);
}

.border-bottom-thin {
  border-bottom-width: thin;
}

.border-bottom-solid {
  border-bottom-style: solid;
}

.border-r-0p2 {
  border-radius: 0.2rem;
}

.border-slate-300 {
  border-color: var(--COLOR-SLATE-300);
}

.border-slate-500 {
  border-color: var(--COLOR-SLATE-500);
}

.border-slate-600-hover:hover {
  border-color: var(--COLOR-SLATE-600);
}

.border-solid {
  border-style: solid;
}

.border-thin {
  border-width: thin;
}

.border-y-solid {
  border-bottom-style: solid;
  border-top-style: solid;
}

.border-y-thin {
  border-bottom-width: thin;
  border-top-width: thin;
}

.fs-1p2 {
  font-size: 1.2rem;
}

.fw-normal {
  font-weight: normal;
}

.h-28 {
  height: 28rem;
}

.min-h-85 {
  min-height: 85vh;
}

.min-h-15 {
  min-height: 15vh;
}

.shadow-light {
  box-shadow: 0px 8px 24px var(--COLOR-SHADOW-LIGHT);
}

.shadow-slate-hover:hover {
  box-shadow: 0.1rem 0.1rem 0.2rem var(--COLOR-SLATE-400);
}

.shadow-unset {
  box-shadow: unset;
}

.shrink-0 {
  flex-shrink: 0;
}

.w-4 {
  width: 4rem;
}

.max-w-20 {
  max-width: 20rem;
}

.w-24 {
  width: 24rem;
}

.w-45 {
  width: 45rem;
}

.max-w-45 {
  max-width: 45rem;
}

@media only screen and (max-width: 67em) {
  .align-i-ctr-md {
    align-items: center;
  }

  .flex-col-reverse-md {
    flex-direction: column-reverse;
  }
}
