.bg-add-cart {
  background: var(--COLOR-ADD-CART);
}

.bg-add-cart-hover:hover {
  background: var(--COLOR-ADD-CART-HOVER);
}

.bg-red-50 {
  background: var(--COLOR-RED-50);
}

.bg-red-500-hover:hover {
  background: var(--COLOR-RED-500);
}

.bg-slate-50 {
  background: var(--COLOR-SLATE-50);
}

.bg-stone {
  background: var(--COLOR-STONE);
}

.bg-white {
  background: var(--COLOR-WHITE);
}

.bg-white-hover:hover {
  background: var(--COLOR-WHITE);
}
