.cart-btn-qty {
  border: thin solid var(--COLOR-TEXT-300);
  border-radius: 10rem;
  color: var(--COLOR-TEXT-800);
  font-size: 1.2rem;
  margin: 1rem 0.5rem;
  padding: 0.5rem;
  width: 2rem;
}

.cart-btn-qty > i {
  margin-left: -0.15rem;
}

.cart-btn-qty:hover {
  background: var(--COLOR-TEXT-300);
}

.cart-card {
  max-width: 45rem;
  overflow: hidden;
}

.cart-card > div > button {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  width: 100%;
}

.cart-card input {
  background: unset;
  border-radius: 0.2rem;
  margin: auto 0;
  padding: 0.5rem;
  text-align: center;
  width: 4rem;
}

.cart-price-card {
  flex-direction: column;
  overflow: hidden;
  padding: 3rem;
  width: 45rem;
}

.cart-price-details-text {
  border-bottom: thin solid var(--COLOR-TEXT-300);
  font-size: 1.7rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.cart-total-amt-text {
  align-items: center;
  border-bottom: thin solid var(--COLOR-TEXT-300);
  border-top: thin solid var(--COLOR-TEXT-300);
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 1rem 0;
}

/** Media Query **/

@media only screen and (max-width: 32em) {
  .cart-card {
    flex-direction: column;
    max-width: 30rem;
  }

  .cart-card > img {
    height: 15rem;
    max-width: 100%;
  }

  .cart-card > div {
    padding: 1rem;
    width: 100%;
  }

  .cart-price-card {
    max-width: 32rem;
  }
}
